@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fredoka+One&family=Mea+Culpa&family=Roboto+Condensed&family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Satisfy&family=Special+Elite&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.fab{
    color: white;
}
:root{
    --overlay:#03a9fa;
    font-family: 'Roboto Slab', serif;
}
.showcase{
    transition: .5s;
}
.showcase.active{
    @apply right-72
}
.menu-a{
    @apply text-gray-800 hover:text-overlay no-underline text-2xl
}

.navbar{
    position: fixed;
    display: block;
    width: 100%;
    background: blueviolet;
    
}
.header{
min-height: 100vh;
width: 100%;
background:black;
color: #fff;
position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 10vh;
}
.nav-links ul li a:hover{
    color: plum;
}